pylint==2.13.4
sklearn==0.0
Pylint
pytest-cov
nbval
click
flask==2.1.1
Flask==2.1.1
google-cloud-bigquery
google
flask_restful
google-cloud-bigquery-storage
pylint-flask
black==22.3.0
requests
gunicorn==20.1.0
dash_bootstrap_components == 1.0.2
numpy
db_dtypes
plotly
plotly_express
dash
dash-html-components
dash-core-components
dash-table
dash-daq
dash-renderer
pandas==1.4.2
py==1.11.0